@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

body {
  font-family: "Roboto", sans-serf;
}

/* When you have a fixed header or navbar that covers the top part of the page, you might use this technique to create space so that content doesn’t hide behind the header. This ensures that the content of the page doesn't start at the very top, where the fixed header would cover it. */
body::before {
  display: block;
  content: '';
  height: 100px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .5rem;
  background: #22aee1;
  color: white;
  font-size: 1.15rem;
}

.phone {
  background: rgba(243, 53, 5, 0.875);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: .15rem .5rem;
  margin-left: 1rem;
}

nav .container { 
  padding: .5rem 0rem;
  width: 100%;
}

.nav-link {
  color: #22aee1;
  font-weight: 700;
}

.nav-item {
  display: flex;
  align-items: center;   
}

.nav-link.stacked {
 
  align-items: center;     /* horizontal centering */
  text-align: center;      /* text centering */
  line-height: 1.2;       /* Adjust line height for better spacing */
}

.nav-link.stacked span {
  display: block;
}

.logo-text {
  height: 50px;
  width: auto;
}

.logo {
  height: 70px;
  width: auto;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
  
.socicon:hover {
  animation: bounce-animation 1s;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 15px; /* Adds a small padding on the right side */
  }
}

@keyframes bounce-animation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Navbar ends */

/* Banner section */
/* margin: 0 auto -> centers the image horizontally within its container. 0 sets the top and bottom margins to zero, while auto sets the left and right margins, centering the image if the parent container allows. */

.banner img {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  border-bottom: 8px solid #22aee1;
}

/* .banner video {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
  border-bottom: 8px solid #22aee1;
} */
/* Banner section ends */

/* About section */
.carousel-inner {
  position: relative; 
}

.carousel-indicators {
  position: absolute;
  bottom: 5%; 
  left: 35%;
  transform: translateX(-50%);
}

.carousel-indicators .button {
  min-width: 10px;
}

@media (max-width: 768px) {
  .carousel-indicators .button {
    min-width: 5px;
  }
}

@media (max-width: 466px) {
  .carousel-indicators .button {
    min-width: 2px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%; 
}

.carousel-control-prev {
  left: 20%; 
}

.carousel-control-next {
  right: 20%; 
}
/* About section ends *?

/* Newsletter section */
@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
/* Newsletter section ends */

/* Map section */
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  min-height: 300px;
}
/* Map section ends */